// @import "./element-variables.scss";
@import "./scss/functions";
@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/utilities";
@import "./scss/type";
@import "./scss/reboot";
@import "./scss/root";

// element-ui overridden
.el-dropdown-link {
  cursor: pointer;
}

.el-table,
.el-breadcrumb {
  font-size: $font-size-base;
}

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  color: $gray-600;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: $info;
}

.el-pagination {
  font-weight: $font-weight-base;

  .btn-prev,
  .btn-next {
    padding: 10px 6px;
    margin: 0 -1px;
    border: $border-width solid $border-color;
  }

  .btn-prev {
    border-top-left-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius-sm;
  }

  .btn-next {
    border-top-right-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
  }

  .el-input__suffix {
    line-height: 1;
  }

  .el-input--mini .el-input__inner {
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
  }

  .el-pagination__sizes {
    margin-left: 10px;
    margin-right: 0;
  }

  .el-select .el-input {
    margin: 0;
    width: 80px;
  }

  .el-pagination__jump {
    margin-left: 10px;
  }
}

.el-pager li {
  margin-left: -1px;
  border: $border-width solid $border-color;
}

.el-pager li.active + li {
  border: $border-width solid $border-color;
}

.el-button--medium {
  min-width: 82px;
}

// custom
.left-menu {
  .left-menu-first {
    position: relative;

    &.active,
    &:hover {
      a.left-menu-index {
        color: #fff;
        background-color: $primary;
      }
    }

    a.left-menu-index {
      display: block;
      height: 44px;
      line-height: 44px;
      padding: 0 28px;
      color: $info;
      font-size: $h5-font-size;
      transition: $transition-base;

      i {
        font-size: $h2-font-size;
        width: $h2-font-size;
        margin-right: 20px;
        vertical-align: middle;
      }
    }

    &:hover {
      .left-menu-second {
        display: flex;
      }
    }

    .left-menu-second {
      position: absolute;
      z-index: 9999;
      display: none;
      top: 0;
      left: 100%;
      white-space: nowrap;
      padding: 32px;
      background-color: #fff;
      box-shadow: $box-shadow-sm;

      a {
        color: $info;

        &:hover {
          color: $primary;
        }
      }

      .left-menu-second-title {
        margin-bottom: $spacer;
        color: $secondary;
      }

      .left-menu-second-menu {
        margin-bottom: $spacer;
      }
    }
  }
}

ul.header-menu {
  display: inline-flex;
  margin-bottom: 0;

  li {
    position: relative;

    @include hover() {
      $hover-background: darken($primary, 3%);
      background-color: $hover-background;
      transition: $transition-base;
    }

    &:hover {
      .menu-content {
        display: flex;
      }
    }
  }

  .menu-content {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 100%;
    right: 0;
    left: 0;
    flex-direction: column;
    padding: 12px 0;
    background-color: #fff;
    box-shadow: $box-shadow-sm;
    transition: $transition-base;
  }

  .menu-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;

    @include hover() {
      $hover-background: lighten($border-color, 5%);
      color: $primary;
      cursor: pointer;
      background-color: $hover-background;
      transition: $transition-base;
    }
  }
}
